@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Oswald&family=Raleway&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto, Helvetica, sans-serif;
    font-weight: 300;
}

/* Header */


#hero-image {
    height: 200px;
    width: 100%;
    background: url('../images/honeycomb_hero_screen300.PNG') no-repeat center center/contain;
}